@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,900;1,400&display=swap');

*{
margin: 0;
padding:0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3f3f3f;
    font-family: 'Raleway', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo{
    color:#fff;
    margin-left: 60px;
    font-weight: bold;
    font-size: 30px;
}
.logo span{
    color:#00e9a5;
}
.logo img{
    width: 140px;
}
/* Nav Started */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #727473 ;
}
nav ul{
    display: flex;
}
nav ul li a{
    font-family: sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 17px;
    display: flex;
    font-size: 0.7;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6s ease;
}
nav ul li a:hover{
    border-bottom: 2px solid #00e9a5;
    box-shadow: 5px 10px 30px rgba(0, 250, 128, 0.4);
}
/* Nav End  */
/* Home page start */
#header{
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

    background-image: url(../images/jasim-bg.png);
}
.header-heading{
    width: 500px;
    position: absolute;
    left: 18%;
    top:50%;
    color: #fff;
    transform: translate(-18%, -50%);
}
.header-heading h1{
    font-size: 45px;
    margin: 0px;
    letter-spacing: 3px;
}
.header-heading h1 span{
    color:#00e9a5;
}
.header-heading p{
    color: #e2e9a5;
}
.header-btn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00e9a5;
    box-shadow: 5px 10px 30px rgba(0, 255, 128, 0.4);
    border-radius: 10px;
    color: #fff;
    margin-top: 25px;
    transition: 0.6s ease-in-out;
}
/* Home page end */

/* About page Start */
#about{
    width: 100%;
    height: 110vh;
    background-color: #1e1e1e;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0 5%;
    position: relative;
}
.about-img{
width: 50%;
}
.about-img img{
    width: 590px;
    height: 400px;   
}
.about-text{
    width: 45%;
    color: white;
}
.about-text h2{
    font-size: 2rem;
    font-weight: 600;
}
.about-text h2 span{
    color: #00e9a5;
}
.about-text h4{
    
    margin: 10px 0 10px 0;
}
.about-text p{
    text-align: justify;
    width: 500px;
    color:#c0c0c0;
    letter-spacing: 0.5px;
}
/* About page end */
/* project page Start */
#project{
    width: 100%;
    height: 150vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding : 40px 0px;
}
.projects{
    margin-top: -220px;
text-align: center;
color: white;
letter-spacing: 1px;
}
.projects p{
    color: #c0c0c0;
    padding-top: 10px;
}
.work-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-box{
    background-color: #fff;
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    position: relative;
}
.work-img{
    width: 100%;
    height: 60%;
}
.work-img img{
    width: 100%;
    height: 100%;
}
.work-heading{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;

}
.work-heading p{
    text-align: center;
    letter-spacing: 1px;
}
/* ABout page end */
/* Contact us start*/
.contat-heading{
    margin-top: -250px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;

    }
    .contat-heading p{
        color: #c0c0c0;
        padding-top: 10px;
        padding-bottom: 20px;
    }
#contact{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;
}
#contact form{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact form input, #contact form textarea{
    width: 100%;
    height: 50px;
    margin: 8px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
#contact form textarea{
    height: 150px;
    height: 45px;
    color: #000;
    text-transform: uppercase;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: whitesmoke;
    padding:20px;
}

/* Contact us Ends */